.DS_Store
.editorconfig


/projects/**/.vscode/*
/projects/**/Builds
/projects/**/bin
/projects/**/Library
/projects/**/Logs
/projects/**/obj
/projects/**/Temp

*.csproj
*.sln
*.code-workspace

omnisharp.json

TSKDoNotDelete.txt
*.dwlt
